:root{
 --Blue: hsl(246, 80%, 60%);
--Light-Blue: hsl(246, 80%, 60%);
--Light-red: hsl(15, 100%, 70%); /*work*/
--Soft-blue: hsl(195, 74%, 62%);/*(play)*/  
--Light-red : hsl(348, 100%, 68%); /*(study)*/ 
--Lime-green: hsl(145, 58%, 55%); /* (exercise)*/ 
--Violet: hsl(264, 64%, 52%); /* (social)*/ 
--Soft-orange : hsl(43, 84%, 65%); /*(self care)*/ 

--very-dark-blue: hsl(226, 43%, 10%);
--Dark-blue: hsl(235, 46%, 20%);
--Desaturated-blue: hsl(235, 45%, 61%);
--Pale-Blue: hsl(236, 100%, 87%);

--Soft-blue: hsl(195, 74%, 62%); /* (play)*/ 
--animation-delay : hsl(348, 100%, 68%); /*(study)*/ 
--Lime-green : hsl(145, 58%, 55%); /*(exercise)*/ 
--Violet : hsl(264, 64%, 52%); /*(social)*/ 
--Soft-range: hsl(43, 84%, 65%); /* (self care)*/ 

}
body{
    margin:0;
    padding:0;
    box-sizing: border-box;
    background: hsl(226, 43%, 10%);
}
main{
    position: absolute;
    top:50%;
    left:50%;
    transform:translate(-50%,-50%);
    width:60%;
    display:flex;
}

.left{
   flex: 1;; 
}
.right{
    flex:3;   
  
 }
 .top{
    display:flex;
    justify-content: space-evenly;
 }
 .bottom{
    display:flex;
    justify-content: space-evenly;
    margin-top: 12px;
 }
.left-top{
    background: hsl(246, 80%, 60%);
    border-radius:10px;
    color: white;;
    padding-bottom: 1rem;
    padding-top: 0.5rem;
   position: relative;
   top:7px;

}
.image{
    margin:15px 0px 10px 10px;
    width:60px;
    border-radius: 50%;
    border: solid 2px white;;
}
.left-content{
    margin-left: 20px;
}
.report{
    font-size: 14px;
    margin-bottom: -35px;
    margin-left: 5px;
}
.jeremy{
    font-size: 35px;    
    font-weight: 100;
}
.left-bottom{
background:  hsl(235, 46%, 20%);
color: white;
font-size: 15px;
padding: 15px 0px 15px 20px;
border-radius: 10px;;
line-height: 2em;
}
.period{
    cursor: pointer;
}
.columns{
      color: white;
      line-height: 5px;
      margin-top: 8px;
      cursor: pointer;
 } 
.empty{
    /* width:174px; */
    height: 35px;
    border-radius: 10px;
}
#empty-1{
    background:hsl(15, 100%, 70%); ;
}
#empty-2{
background:hsl(195, 74%, 62%) ;
}
#empty-3{
    background: hsl(348, 100%, 68%) ;  
}
#empty-4{
    background: hsl(145, 58%, 55%) ;
}
#empty-5{
    background:hsl(264, 64%, 52%) ; 
}
#empty-6{
    background:hsl(43, 84%, 65%) ; 
}
.filled{
    border-radius: 10px;
     position: relative;
    bottom: 0.3em;
    background:green;
    padding: 2rem 1rem 1.5rem 1rem;
    background:  hsl(235, 46%, 20%);
}
.head{
    display: flex;
    justify-content: space-between;
    font-size: 15px;
    margin-bottom: -12px;
}
.current{
    font-size: 35px;
    font-weight: 100;
    margin-bottom: 27px;
}
.periods{
    font-size: 12px; 
}
.works{
    margin-left: 7rem;
    width: 50px;;
}

@media(max-width:375px){
    main{
        margin-top: 25rem;
        width:90%; 
        display:block;
    }
    .left{
        flex: none; 
        display:block;
        margin-bottom: 10px;;
     }
     .right{
         flex:3;   
      }
      .top,.bottom{
        display:block;;
     }
   .instant{
    display: flex;
    justify-content: space-between;
   }
     .works{
        margin-left: 17rem;
        width: 50px;;
    }
    .periods{
        font-size: 15px; 
        margin-top: 3rem;
    }
    .left-bottom{
        display:flex;
        justify-content: space-around;
        }
        .left-top{
           display:flex;
           justify-content: space-around;
        }
        .jeremy{
            font-size: 25px;    
            font-weight: 100;
            margin-top: .5rem;
        }
        .report{
            font-size: 14px;
            margin-bottom: -5px;
            margin-top: 1.5rem;
            margin-left: 0px;
        }
        

}